<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>得点管理システム</title>
</head>
<body>
    <form th:object="${student}" th:action="@{/top/edit/{id}(id=${student.id})}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>入学年度:</label>
		<input type="text" th:field="*{entYear}"/><br/>
        </select><br/>
        <label>学生番号:</label>
        <input type="text" th:field="*{no}"/><br/>
        <label>学生名:</label>
        <input type="text" th:field="*{name}"/><br/>
        <label>クラス番号:</label>
        <input type="text" th:field="*{classNum}"/><br/>
        </select><br/>
         <label for="isAttend">在学:</label>
          <select class="form-control" id="isAttend" name="isAttend" th:value="${isAttend}">
            <option value="true">在学中</option>
            <option value="false">退学済み</option>
          </select>
        <button type="submit">更新する</button>
        <a href="/top/">戻る</a>

    </form>
</body>
</html>
