


<h1>科目管理システム</h1>


<title>科目管理</title>


<h2>科目</h2>
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>科目名</th>
            <th>科目コード</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" th:each="item, stat : ${list}" th:object="${item}">
            <td th:text="*{id}"></td>
            <td th:text="*{cd}"></td>
            <td th:text="*{name}"></td>
         </tbody>
        <a class="btn btn-warning" th:href="@{/kamokuadd/}">追加へ</a>
        <h6>Click <a th:href="@{/logout}">here</a> to logout.</h6>
      </div>