<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<h2>成績登録</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
			<form th:action="@{/testadd/}" method="post"th:object="${data}">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="entYear">入学年度:</label>
          <select class="form-select" id="entYear" name="entYear">
            <option value="">選択してください</option>
            <option value="2014">2014年</option>
            <option value="2015">2015年</option>
            <option value="2016">2016年</option>
            <option value="2017">2017年</option>
            <option value="2018">2018年</option>
            <option value="2019">2019年</option>
            <option value="2020">2020年</option>
            <option value="2021">2021年</option>
            <option value="2022">2022年</option>
            <option value="2023">2023年</option>
            <option value="2024">2024年</option>
            <option value="2025">2025年</option>
            <option value="2026">2026年</option>
            <option value="2027">2027年</option>
            <option value="2028">2028年</option>
            <option value="2029">2029年</option>
            <option value="2030">2030年</option>
            <option value="2031">2031年</option>
            <option value="2032">2032年</option>
            <option value="2033">2033年</option>
            <option value="2034">2034年</option>
            
        </select>
        </div>
        <div class="form-group col-md-4">
          <label for="classNum">クラス番号:</label>
          <input type="text" class="form-control" id="classNum" name="classNum" placeholder="クラス番号" th:value="${classNum}">
        </div>
        <div class="form-group col-md-4">
          <label for="no">回数:</label>
          <select class="form-select" id="no" name="no">
            <option value="">選択してください</option>
            <option value="1">1回目</option>
            <option value="2">2回目</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">検索</button>
    </form>
 
    <table class="table table-striped">
      <thead>
        <tr>
		  <th>入学年度</th>
          <th>クラス</th>
          <th>学生番号</th>
          <th>氏名</th>
          <th>点数</th>
        </tr>
      </thead>
      <tbody>

 
        <!-- 検索結果を表示する部分 -->
        <tr th:each="student : ${searchedStudents}">
          <td th:text="${student.entYear}"></td>
          <td th:text="${student.classNum}"></td>
          <td th:text="${student.no}"></td>
          <td th:text="${student.name}"></td>
          <td>
			  <input type="text" class="form-control" id="point" name="point" placeholder="点数" th:value="${point}">
		  </td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-warning" th:href="@{/testaddcomplete/}">登録して終了</a>
    </main>
  </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script><script src="dashboard.js"></script></body>
</html>